$border-radius-base: 2px;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;

$breadcrumb-bg: none;
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;

$pagination-bg: none;
