$border-radius-base: 2px;
$border-radius-large: $border-radius-base;
$border-radius-small: $border-radius-base;

$breadcrumb-bg: none;
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;

$pagination-bg: none;

$navbar-default-bg: #607d8b;
$navbar-default-link-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-active-color: rgba(255, 255, 255, 0.70);
$navbar-default-link-hover-color: rgba(255, 255, 255, 0.50);

$brand-primary: #607d8b;
